/*CONFIGURAÇÕES GERAIS E TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #FF80A1;
    --dark-color: #21243D;
    --text-color: #21243D;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: white;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

/* MOBILE-FIRST */

main {
    padding: 10px;
}

/* Cabeçalho */
.main-nav {
    padding: 20px;
    background-color: #24263B;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    text-align: center;
    justify-content: end;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    color: white;
    font-weight: 500;
}

.nav-list a:hover {
    color:#FF80A1;
}

/* Hero Section */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 40px 20px;
    gap: 30px;
}

.hero-image {
    grid-row: 1;
    justify-self: center;
}

.avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -10px 10px 0px 0px #EDF7FA;
}

.hero-content h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}

.btn-download {
    display: inline-block;
    background-color: #FF80A1;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    margin-top: 30px;
    font-weight: 500;
}

.btn-download:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
}

/* Habilidades */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
}

.skills-grid h4 {
    color: #FF80A1;
}

.skills-grid i {
    font-size: 40px;
}

.frontend-icons:hover {
    transform: scale(1.05);
}

.skill-card:hover {
    transform: scale(1.05);
}

/* Projetos realizados */
.projetos {
    padding: 50px 0px;
}

.projetos h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.works-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 20px;
}

.project-card {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 30px;
}

.project-thumbnail {
    border-radius: 6px;
    margin-bottom: 15px;
}

.project-meta .year {
    background: var(--dark-color);
    color: white;
    padding: 2px 10px;
    border-radius: 15px;
    font-weight: 900;
    margin-right: 15px;
}

/* Sobre mim e interesses */
.about-me {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.about-me h2 {
    grid-column: 1 / -1;
}

.interests-container {
    text-align: center;
    padding: 20px;
    background-color: #24263B;
    color: white;
    border-radius: 10px;
}

.interests-container h4 {
    font-size: 20px;
}

/* Rodapé e redes sociais */
.site-footer {
    padding: 20px 0;
    text-align: center;
    background-color: #FF80A1;
    margin-top: 50px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    justify-content: center;
    gap: 35px;
    margin-bottom: 25px;
}

.social-links a {
    font-size: 30px;
    color: var(--dark-color);
}

.social-links a:hover {
    color: white;
}

/* RESPONSIVIDADE */

/* Tablets */
@media (min-width: 768px) {
    .posts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-content h1 {
        font-size: 45px;
    }

    .project-card {
        display: grid;
        grid-template-columns: 240px 1fr;
        gap: 20px;
        align-items: start;
    }
}

/* Breakpoint para Desktop */
@media (min-width: 1024px) {

    /* Limitador de largura para telas grandes */
    .hero-section,
    .recent-posts>*,
    .projetos,
    .site-main {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Ajuste Grid Hero (Texto à esquerda, foto à direita) */
    .hero-section {
        grid-template-columns: 1fr 250px;
        text-align: left;
        align-items: center;
        padding: 100px 0;
    }

    .hero-image {
        grid-row: 1;
        grid-column: 2;
    }

    .avatar {
        width: 240px;
        height: 240px;
    }

    .recent-posts {
        padding: 40px 0;
    }

    .recent-posts h2 {
        text-align: left;
    }
}